node_modules
dist
apps/builder/dist
apps/builder/node_modules
apps/builder/.turbo
apps/builder/.vscode
apps/builder/src/.env.local
apps/builder/src/.env.development.local
apps/builder/src/.env.production.local
apps/builder/src/.env.test.local
apps/builder/src/.history
apps/builder/src/.DS_Store
apps/builder/src/assets/.DS_Store
apps/builder/src/components/.DS_Store
apps/builder/src/components/LeftPanel/.DS_Store
apps/builder/src/components/RightPanel/.DS_Store
apps/builder/src/components/TopBar/.DS_Store
apps/builder/src/components/Workspace/.DS_Store
apps/builder/src/mock/.DS_Store
apps/builder/src/views/.DS_Store
apps/builder/src/views/Builder/.DS_Store
apps/builder/src/views/Home/.DS_Store